* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.container {
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

.size {
    font-size: 20px;
}